
<i class="fas fa-chevron-right"></i>
<div class="table-container">
  <div class="table" [ngStyle]='tableHeight'>
    <div class="table-column">
      <div class="column">No.</div>
      <div class="column" *ngFor='let col of cols'>
        {{ col.colName }}
      </div>
    </div>
    <div class="table-row" *ngFor="let item of items; index as i">
      <div class="row">{{ i + 1 + pageData.start}}</div>
      <div class="row">{{ item.userId }}</div>
      <div class="row">{{ item.jobTitleName }}</div>
      <div class="row">{{ item.firstName }}</div>
      <div class="row">{{ item.lastName }}</div>
      <div class="row">{{ item.employeeCode }}</div>
      <div class="row">{{ item.emailAddress }}</div>
    </div>
  </div>
  <div class="actions">
    <div class="current">
      {{ pageData.start + 1 }}<span class="separator">-</span>{{ pageData.end }} of {{ size }}
    </div>
    <button (click)="prev()" class="left">
      <fa-icon [icon]='faChevronLeft'></fa-icon>
    </button>
    <button (click)="next()" class="right">
      <fa-icon [icon]='faChevronRight'></fa-icon>
    </button>
  </div>
</div>
