<!-- <div class="table-container">
  <div class="table" [ngStyle]='tableHeight'>
    <ng-container *ngFor='let tp of templates; index as t'>
      <ng-container [ngSwitch]='tp.templateName'>
        <ng-container *ngSwitchCase='TEMPLATE.header'>
          <div class="table-column">
            <div class="column">No.</div>
            <ng-container *ngTemplateOutlet='tp.template; context: {$implicit: cols}'></ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase='TEMPLATE.body'>
          <div class="table-row" *ngFor="let item of items; index as i">
            <div class="row">{{ i + 1 + pageData.start }}</div>
            <ng-container *ngTemplateOutlet='tp.template; context: {$implicit: { data: item, index: i, columns: cols}}'>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          Please Provide correct templates.
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div class="actions">
    <div class="current">
      {{ pageData.start + 1 }}<span class="separator">-</span>{{ pageData.end }} of {{ size }}
    </div>
    <button (click)="prev()" class="left">
      <fa-icon [icon]='faChevronLeft'></fa-icon>
    </button>
    <button (click)="next()" class="right">
      <fa-icon [icon]='faChevronRight'></fa-icon>
    </button>
  </div>
</div> -->

<!-- <div class="table-container">
  <div class="table" [ngStyle]='tableHeight'>
    <div class="table-column">
      <div class="column">No.</div>
      <div class="column" *ngFor='let col of cols'>
        <table-header [column]='col' (filter)='filter($event)'></table-header>
      </div>
    </div>
    <div class="table-row" *ngFor="let item of items; index as i">
      <div class="row">{{ i + 1 + pageData.start}}</div>
      <div class="row">{{ item.userId }}</div>
      <div class="row">{{ item.jobTitleName }}</div>
      <div class="row">{{ item.firstName }}</div>
      <div class="row">{{ item.lastName }}</div>
      <div class="row">{{ item.employeeCode }}</div>
      <div class="row">{{ item.emailAddress }}</div>
    </div>
  </div>
  <div class="actions">
    <div class="current">
      {{ pageData.start + 1 }}<span class="separator">-</span>{{ pageData.end }} of {{ size }}
    </div>
    <button (click)="prev()" class="left">
      <fa-icon [icon]='faChevronLeft'></fa-icon>
    </button>
    <button (click)="next()" class="right">
      <fa-icon [icon]='faChevronRight'></fa-icon>
    </button>
  </div>
</div> -->

<div class="table-container">
  <table class="table table-striped" [ngStyle]="tableHeight">
    <thead>
      <th>No.</th>
      <th  *ngFor="let col of cols">
        <table-header [column]="col" (filter)="filter($event)"></table-header>
      </th>
    </thead>
    <tbody>
      <tr *ngFor='let item of items; index as i'>
        <td>{{ i + 1 + pageData.start }}</td>
        <td *ngFor='let col of cols'>{{ item[col.fieldName] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <div class="current">
      {{ pageData.start + 1 }}<span class="separator">-</span
      >{{ pageData.end }} of {{ size }}
    </div>
    <button (click)="prev()" class="left">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <button (click)="next()" class="right">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>
</div>
